# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Generated platform folders (created by `flutter create` in CI)
android/
ios/
linux/
macos/
windows/
web/

# IDE
.idea/
*.iml
.vscode/

dist/

# Python
__pycache__/
*.pyc
